.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1px;
    z-index: -1;
}

.grid-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.47);
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1 / 1;

}

@media (max-width: 768px) {
    .grid-container {
        display: none;
    }
    
    .grid-box {
        display: none;
    }
} 