.main {
  width: 100%;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 {
  background-color: black;
  color: white;
}

.section-2 {
  background-color: white;
  color: black;
}

.section-3 {
  background-color: black;
  color: white;
}

.section-4 {
  background-color: white;
  color: black;
}

.section-5 {
  background-color: black;
  color: white;
  height: 50vh;
} 