.chart-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84vw;
    min-height: 60vh;
    margin: 0;
    padding: 1vw;
    border-radius: 20px;
}

.chart-panel-content-title {
    text-align: center;
}

.chart {
    width: 20vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

.chart-row {
    display: flex;
    align-items: center;
    justify-content: center;
}