@font-face {
  font-family: "sunrise";
  src: url("./fonts/Righteous-Regular.ttf");
}
@font-face {
  font-family: "righteous";
  src: url("./fonts/WaitingfortheSunrise-Regular.ttf");
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

:root {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  scroll-behavior: smooth;
}
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  background-color: #151515;
}
