@font-face {
    font-family: "Inter Tight ExtraLight";
    src: url("./fonts/InterTight-ExtraLight.ttf");
}

@font-face {
    font-family: "Inter Tight Light";
    src: url("./fonts/InterTight-Light.ttf");
}

@font-face {
    font-family: "Inter Tight Regular";
    src: url("./fonts/InterTight-Regular.ttf");
}

@font-face {
    font-family: "Inter Tight SemiBold";
    src: url("./fonts/InterTight-SemiBold.ttf");
}

:root {
    --white-faded: rgba(255, 255, 255, 0.2);
    --black-faded: rgba(0, 0, 0, 0.2);
    --white: #ffffff;
    --black: #000000;
    --sign: #cff200;
    /*#dbc16c*/
    scroll-behavior: smooth;
    background-color: var(--black);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.marked {
    color: var(--sign);
}

.vertical-splitter div {
    border: 1px solid var(--white-faded);
    height: 80px;
    margin: 20px;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .vertical-splitter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vertical-splitter div {
        border: 1px solid var(--white-faded);
        width: 80vw;
        height: 0vh;
    }
}