@media only screen and (max-width: 768px) {
  .home {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .home-intro-content {
  }

  .home-intro-left,
  .home-intro-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 30vh;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .home-intro-right img {
    width: 60vw;
    height: 60vw;
  }

  .home-webs-headline {
    text-align: center;
  }

  .home-web {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
  }

  .home-web-image img {
    width: 60vw;
    height: 60vw;
  }
  .home-web-headline {
    margin-top: 20px;
  }
  .home-web-headline,
  .home-web-text {
    width: 60vw;
    text-align: center;
  }

  .home-products-headline {
    text-align: center;
  }

  .home-products-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-products-grid {
  }

  .campaigns {
    background: radial-gradient(#8cff5e, #8cff5e, var(--white));
  }
  .oxygen {
    background: radial-gradient(#5eccff, #5eccff, var(--white));
  }
  .library {
    background: radial-gradient(#b600ee, #b600ee, var(--white));
  }
  .home-product {
    position: relative;
    background-color: var(--black-faded);
    width: 60vw;
    height: 20vh;
    margin: 10px;
    border-radius: 20px;
  }

  .home-product-info {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .home-product-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
