.home {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-intro-left,
.home-intro-right {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 35vw;
  height: 35vw;
  margin: 0;
  padding: 0;
}

.home-intro-right {
  justify-content: right;
}

.home-intro-right img {
  width: 30vw;
  height: 30vw;
}

.home-webs-headline {
  text-align: center;
}
.home-webs-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-web {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.home-web-image img {
  width: 20vw;
  height: 20vw;
}
.home-web-headline {
  margin-top: 20px;
}
.home-web-headline,
.home-web-text {
  width: 20vw;
  text-align: center;
}

.home-products-headline {
  text-align: center;
}

.home-products-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-products-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.campaigns {
  background: radial-gradient(#8cff5e, #8cff5e, var(--white));
}
.oxygen {
  background: radial-gradient(#5eccff, #5eccff, var(--white));
}
.library {
  background: radial-gradient(#b600ee, #b600ee, var(--white));
}
.home-product {
  position: relative;
  background-color: var(--black-faded);
  width: 25vw;
  height: 20vh;
  margin: 10px;
  border-radius: 20px;
}

.home-product-info {
  position: absolute;
  top: 20px;
  left: 20px;
}
.home-product-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
