.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 10vh;
    margin: 0;
    padding: 0;
    background: var(--black);
    border-bottom: 1px solid var(--sign);
    z-index: 101;
    color: white;
    font-family: "Inter Tight SemiBold";
}

.navbar a {
    color: var(--white);
}

.navbar a:hover {
    color: var(--sign);
    transition-duration: 0.2s;
}

.navbar a:not(:hover) {
    transition-duration: 0.2s;
}

@media only screen and (max-width: 768px) {
    .navbar-hamburger {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: var(--black);
        z-index: 100;
    }
    .navbar-left {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        font-size: 24px;
    }
    .navbar-center {
        display: none;
    }
    .navbar-right {
        display: none;
    }
    .navbar-right-mobile {
        margin-right: 20px;
    }
    .navbar-hamburger-button {
        margin: 0;
        padding: 0;
        border: 0px solid var(--black);
        background-color: transparent;
        color: var(--white);
        font-size: 24px;
    }
    .navbar-hamburger-button:hover {
        color: var(--sign);
    }
    .navbar-hamburger-button:not(:hover) {
        color: var(--white);
    }
    .navbar-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .navbar-list-item {
        margin: 50px;
        padding: 0;
        color: var(--white);
        font-family: "Inter Tight SemiBold";
        font-size: 24px;
    }
    .navbar-hamburger-button {
        margin: 0;
        padding: 0;
        border: 0px solid var(--black);
        background-color: transparent;
        color: var(--white);
        font-size: 24px;
    }
    .navbar-list-item:hover {
        color: var(--sign);
    }
    .navbar-list-item:not(:hover) {
        color: var(--white);
    }
}

@media only screen and (min-width: 768px) {
    .navbar-left {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        font-size: 24px;
    }
    .navbar-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .navbar-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .navbar-list-item {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }
    .navbar-right-mobile {
        display: none;
    }
    .navbar-hamburger {
        display: none;
    }
}