.navbar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100vw;
  height: 10vh;
  margin: 0;
  padding: 0;

  font-family: "inter tight semibold";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar-right a {
  margin-left: 15px;

  font-family: "inter tight medium";
  font-size: 16px;
}

.navbar-right a:hover {
  color: white;
  transition-duration: 0.2s;
}
.navbar-right a:not(:hover) {
  transition-duration: 0.2s;
}
.navbar-title span {
  color: white;
}
@media only screen and (max-width: 768px) {
  .navbar {
    align-items: center;
    z-index: 1000;

    height: 15vh;
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
  }
  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-left {
    display: none;
  }
}
