.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 10vh;
  margin: 0;
  padding: 0;
  z-index: 101;
  color: white;
  font-family: "Inter Tight SemiBold";
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar a {
  color: var(--white);
}

.navbar a:hover {
  color: var(--sign);
  transition-duration: 0.2s;
}

.navbar a:not(:hover) {
  transition-duration: 0.2s;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 24px;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.navbar-list-item {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.navbar-right-mobile {
  display: none;
}
.navbar-hamburger {
  display: none;
}
