.products {
    margin: 0;
    padding: 0;
}

.products-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-title h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.products-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 8vw;
    width: calc(20vw - 10px);
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 20px;
    color: black;
    background: white;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: left;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0px 0px 10px 2px white;
    transition-duration: 0.05s;
}

.product:not(:hover) {
    transition-duration: 0.2s;
}

.product-content h3,
.product-content p {
    margin: 0;
    padding: 0;
}

.product-content {
    margin-top: 20px;
    margin-left: 20px;
}