.story-section {
    width: 100%;
    height: 50vh;
    margin: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.section-1 {
    align-items: flex-end;
}

.story-title h1 {
    color: white;
    font-size: 128px;
    text-align: left;
    border-bottom: 5px solid #cff200;
    width: 90vw;
}

.story-text p {
    width: 90vw;
    color: white;
    font-family: "Inter Tight Regular";
    text-align: left;
}