@media only screen and (min-width: 768px) {
  .tab {
    position: relative;

    width: calc(25vw - 20px);
    height: calc(25vw - 20px);
    margin: 10px;

    border-radius: 20px;
  }
  .tab-text {
    position: absolute;
    top: 20px;
    left: 20px;

    font-family: "Inter Tight SemiBold";
    font-size: 24px;
  }

  .tab-r1-1 {
    background: radial-gradient(#759cff, #ff6ec5);
    height: calc(25vw - 20px);
  }
  .tab-r1-2 {
    background: radial-gradient(#75ffff, #e06eff);
    height: calc(12.5vw - 20px);
  }
  .tab-r1-3 {
    background: radial-gradient(#f1ff75, #6ea1ff);
    height: calc(12.5vw - 20px);
  }
  .tab-r1-4 {
    background: radial-gradient(#adff4f, #6ed3ff);
    height: calc(25vw - 20px);
  }

  .tab-r2-1,
  .tab-r2-2 {
    background: linear-gradient(#ffda75, #ffb883);
    height: calc(25vw - 20px);
  }

  .tab-r2-3,
  .tab-r2-4 {
    background: linear-gradient(#ffda75, #ff6ea1);
    height: calc(75vw - 20px);
  }
  .tab-r2-5,
  .tab-r2-6 {
    background: linear-gradient(#bb6efe, #75fe6e);
    height: calc(75vw - 20px);
  }
  .tab-r3-1,
  .tab-r3-2 {
    background: linear-gradient(#ff6ea1, #bb6eff);
    height: calc(75vw - 20px);
  }

  .tab-about {
    background-color: #ff6ea1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
  }

  .tab-products {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bb6efe;
    font-size: 128px;
  }

  .tab-team-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #75fe6e;
  }
  .tab-team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #75fe6e;
    font-size: 128px;
  }
  .tab-team-member {
    position: relative;
    background-color: #75fe6e;
  }

  .tab-twitter,
  .tab-discord,
  .tab-mail,
  .tab-github {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
  }

  .tab-twitter {
    background-color: #1da1f2;
  }
  .tab-discord {
    background-color: #5865f2;
  }
  .tab-mail {
    background-color: #ecff6e;
  }
  .tab-github {
    background-color: #333;
  }
}
